.menuBar{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  
  .avatarDefault{
    grid-column-start: 1;
	  grid-column-end: 2;

    border-radius: 100%;
  }
  
  .logoTwitter{
	  grid-column-start: 2;
	  grid-column-end: 2;
    margin: auto;
    width: 20px;
    height: auto;
  }

